<section class="py-5 text-center">
  <div class="py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Курсовой проект по веб разработке</h1>
      <p class="lead text-muted">Автор: студент группы 6402 Денисов Михаил</p>
    </div>
  </div>
</section>

<div class="text-center">
  <img src="https://sun9-36.userapi.com/impg/5eI6WppOeXa7JryXLsykIl946gCsljD5z2Ik7w/9aM8o6r0VQ0.jpg?size=736x704&quality=95&sign=4b469260bea6d1024d93f7bf46f85eba&type=album"
       class="rounded" alt="Yes">
</div>
