<section class="py-5 text-center container" xmlns:width="http://www.w3.org/1999/xhtml">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Сделано не профессионально</h1>
      <p class="lead text-muted">но с душой</p>
    </div>
  </div>
</section>

<div class="text-center">
  <img src="https://sun9-52.userapi.com/impf/HhD-vUteEiz9-hI0ggAiMXf1pr7L8TcGSoYvDA/ZHtXv9-8e8Q.jpg?size=1373x799&quality=96&sign=dbc220cdde1d55f73413a0bafedabb01&type=album"
       class="rounded" alt="Yes">
</div>
