<footer class="footer pt-5 pb-4">
    <ul class="nav justify-content-center border-bottom pb-4 mb-4">
        <li class="nav-item">
            <a routerLink="/blogs" class="nav-link px-4 text-muted">Главная</a>
        </li>
        <li class="nav-item">
            <a routerLink="/viewers" class="nav-link px-4 text-muted">Пользователи</a>
        </li>
        <li class="nav-item">
            <a routerLink="/about" class="nav-link px-4 text-muted">О сайте</a>
        </li>
    </ul>
    <p class="text-center text-muted">©BlackPapers {{ year }}</p>
</footer>
