<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
  <div class="container-xl">
    <a class="navbar-brand" href="blogs">BlackPapers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="nav col-12 col-md-11 mb-5 justify-content-center mb-md-0">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="blogs">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="create">Добавить историю</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="about">О сайте</a>
        </li>
      </ul>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-white bg-dark" placeholder="Поиск..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Войти</button>
        <button type="button" class="btn btn-warning">Регистрация</button>
      </div>

    </div>
  </div>
</nav>

<!--
<a class="navbar-brand" href="/blogs">BlackPapers</a>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/blogs">Главная</a>
    </li>
    <li class="nav-item">
     <a class="nav-link active" aria-current="page" href="/create">Добавить историю</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/about">О сайте</a>
    </li>
  </ul>
  <form role="search">
    <input class="form-control" type="search" placeholder="Поиск" aria-label="Search">
  </form>
</div>

<div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://bashturist.ru/images/avatar_question_round.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>

-->
