body{margin-top:20px;}

.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}
.textareaD textarea {
  resize:none;
  outline:none;
  width: 100%;
  border: 0px solid #eee;
  transition: .3s border-color;
}

.media-list {
  max-width: 98%;
}


